[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds005454
	datalad-id = 2563dbc7-dd02-4014-abd1-cea0592aa0cd
	datalad-url = https://github.com/OpenNeuroDatasets/ds005454.git
[submodule "sourcedata/derivatives"]
	path = sourcedata/derivatives
	url = https://github.com/nipreps-data/bootcamp-geneva-2024
	datalad-id = b934ea54-ad98-478f-84a2-5551efcf248b
	datalad-url = https://github.com/nipreps-data/bootcamp-geneva-2024
